{% extends "main.html" %}

{% block body %}
{% if trend_stats %}
<h3>Available statistics</h3>
<ul>
{% for trend in trend_stats %}
<li>
  {% ifequal trend cur_trend %}
  {{ trend.trend }}
  {% else %}
  <a href="{% url stats_trend trend.id %}">{{ trend.trend }}</a>
  {% endifequal %}
  <ul>
{% for tracker in trend.trackerstats.all %}
    <li>
    {% ifequal tracker cur_tracker %}
    {{ tracker.tracker }}
    {% else %}
    <a href="{% url stats_tracker tracker.id %}">{{ tracker.tracker }}</a>
    {% endifequal %}
      <ul>
    {% for pack in tracker.packstats.all %}
        <li>
        {% ifequal pack cur_pack %}
        {{ pack.pack }}
        {% else %}
        <a href="{% url stats_pack pack.id %}">{{ pack.pack }}</a>
        {% endifequal %}
          <ul>
      {% for channel in pack.channelstats.all %}
            <li>
            {% ifequal channel cur_channel %}
            {{ channel.channel }}
            {% else %}
            <a href="{% url stats_channel channel.id %}">{{ channel.channel }}</a>
            {% endifequal %}
            </li>
      {% endfor %}
          </ul>
        </li>
    {% endfor %}
      </ul>
    </li>
{% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

{% if tracker %}
<h3>Statistics for tracker {{ tracker }}</h3>
<p>Tracked since: {{ tracker.startdate }}</p>
<p>Last tracked: {{ tracker.laststarted }}</p>
<p>Total run: {{ tracker.counter }}</p>
{% endif %}

{% if cur_stats %}
<h3>Statistics for {{ cur_stats }}</h3>
<p>Daily change: {{ cur_stats.daily_change }}</p>
<p>Total 24 hours: {{ cur_stats.total_24hours }}</p>
<p>Total 7 days: {{ cur_stats.total_7days }}</p>
<p>Daily average: {{ cur_stats.daily_average }}</p>
<p>Most active: {{ cur_stats.most_active_source }}</p>
{% endif %}

{% if cur_trend or cur_tracker or cur_channel%}
{% include 'bar_chart.html' %}
{% include 'column_chart.html' %}
{% include 'line_chart.html' %}
{% endif %}
{% if cur_pack %}
{% include 'pie_chart.html' %}
{% endif %}

{% if latest %}
<h3>Latest mentions for {{ cur_stats }}</h3>
{% if tracker %}
<form action="" method="post"><input type="submit" value="+"/></form>
{% endif %}
  {% for obj in latest %}
    <p>{{ obj.date }} <a href="{{ obj.url }}">{{ obj.title }}</a></p>
  {% endfor %}
{% endif %}
{% endif %}
{% endblock %}

