{% extends "main.html" %}

{% block body %}
{% if trend_stats %}
<h3>Available statistics</h3>
<ul>
{% for trend in trend_stats %}
<li>
  <a href="{% url stats_trend trend.id %}">{{ trend.trend }}</a>
  {% for stat in trend.stats.all %}
  <a href="{% url tracker_list_stats_clicked stat.id %}">{{ stat.interval }}</a>
  {% endfor %}
  <ul>
{% for tracker in trend.trackerstats.all %}
    <li>
    {{ tracker.tracker }}
    {% for stat in tracker.stats.all %}
    <a href="{% url tracker_list_stats_clicked stat.id %}">{{ stat.interval }}</a>
    {% endfor %}
      <ul>
    {% for pack in tracker.packstats.all %}
        <li>
        <a href="{% url stats_pack pack.id %}">{{ pack.pack }}</a>
        {% for stat in pack.stats.all %}
        <a href="{% url tracker_list_stats_clicked stat.id %}">{{ stat.interval }}</a>
        {% endfor %}
          <ul>
      {% for channel in pack.channelstats.all %}
            <li>
            {{ channel.channel }}
            {% for stat in channel.stats.all %}
            <a href="{% url tracker_list_stats_clicked stat.id %}">{{ stat.interval }}</a>
            {% endfor %}
            </li>
      {% endfor %}
          </ul>
        </li>
    {% endfor %}
      </ul>
    </li>
{% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

{% if tracker %}
<h3>Statistics for tracker {{ tracker }}</h3>
<p>Tracked since: {{ tracker.startdate }}</p>
<p>Last tracked: {{ tracker.laststarted }}</p>
<p>Total run: {{ tracker.counter }}</p>
{% endif %}

{% if cur_stats %}
<h3>Statistics for {{ cur_stats }}</h3>
<p>Daily change: {{ cur_stats.daily_change }}</p>
<p>Total 24 hours: {{ cur_stats.total_24hours }}</p>
<p>Total 7 days: {{ cur_stats.total_7days }}</p>
<p>Daily average: {{ cur_stats.daily_average }}</p>
<p>Most active: {{ cur_stats.most_active_source }}</p>
{% endif %}

{% include 'pie_chart.html' %}
{% include 'bar_chart.html' %}
{% include 'column_chart.html' %}
{% include 'line_chart.html' %}

{% if latest %}
<h3>Latest mentions for {{ cur_stats }}</h3>
{% if tracker %}
<form action="" method="post"><input type="submit" value="+"/></form>
{% endif %}
  {% for obj in latest %}
    <p>{{ obj.date }} <a href="{{ obj.url }}">{{ obj.title }}</a></p>
  {% endfor %}
{% endif %}
{% endif %}
{% endblock %}

